@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Inter&family=Open+Sans:wght@300;400;500&family=Roboto&display=swap");

$base-color: #323049;
$background-color: rgba($base-color, 0.88);
$text-color: rgba($base-color, 0.18);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply text-sm text-default-text;
  }
}

@layer components {
  .btn {
    // @apply hover:no-underline bg-blue-400 hover:bg-btn-blue tracking-wider w-full text-center font-bold cursor-pointer px-4 py-2 rounded-md transition-colors block;
    @apply block w-full cursor-pointer rounded-md bg-green-t px-4 py-2 text-center font-bold tracking-wider text-gray-100 transition-colors hover:no-underline hover:contrast-125;
  }
  .btn-2 {
    // @apply hover:no-underline bg-btn-passive hover:bg-blue-900 tracking-wider w-full text-center font-bold cursor-pointer px-4 py-2 rounded-md transition-colors block border border-white;
    @apply block w-full cursor-pointer rounded-md border border-white bg-gray-t px-4 py-2 text-center font-bold tracking-wider text-medium-t transition-colors hover:no-underline hover:contrast-125;
  }
}

body {
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
  // background: $background-color;
  background: #1e293bec;
  color: $text-color;
  main {
    margin: auto;
  }
  @apply bg-medium-t;
}

// Custom styling for the Calendar
body > div > div > div > div > div.react-calendar {
  border: none;
  font-family: "Inter", sans-serif;
}

body > div > div > div > div > div > div.react-calendar {
  border-radius: 6px;
  border: 2px solid #ffffff4d;
  background: none;
  padding: 4px;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__navigation
  > button.react-calendar__navigation__label
  > span {
  color: rgb(30 41 59);
  font-weight: 600;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__weekdays
  > div
  > abbr {
  color: rgb(30 41 59);
  text-decoration: none;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__weekdays
  > div
  > abbr {
  text-decoration: none;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #517cc5 !important;
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #6fafef !important;
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background-color: #6fafef !important;
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background-color: #86aee96b !important;
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > div
  > div.react-calendar__month-view__days
  > button {
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > button {
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__century-view__decades__decade {
  border-radius: 6px;
}

body
  > div
  > div
  > div
  > div.w-full.max-w-sm.m-auto.p-2
  > div
  > div
  > div.react-calendar__viewContainer
  > div
  > div
  > button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__decade-view__years__year {
  border-radius: 6px;
}

.react-calendar__decade-view__years,
.react-calendar__century-view__decades,
.react-calendar__year-view__months {
  padding: 5px;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  border-radius: 6px;
}

// Calendar background color

body > div > div > div > div.m-auto.w-full.max-w-sm.p-2 > div {
  background-image: linear-gradient(
    to left bottom,
    #f057b67d,
    #dc37be91,
    #be16cb82,
    #da008c8a,
    #4112eb85
  );
}
